#shipping-header {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: bottom;
}
/* #shipping-header-div {
  background-image: url(./delivery_illustrator.jpg);
} */
/* body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
} */

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

#order-title {
  background: #2f9e01;
/*  background-image: linear-gradient(
    90deg,
    rgba(117, 117, 156, 1) 0%,
    rgba(117, 117, 156, 1) 35%,
    rgba(236, 233, 8, 1) 100%
  );*/
  color: white;
  border-radius: 0.7rem;
  padding: 0.6rem 0;
}
#order-title span {
  margin-left: 10px;
}

.status {
  background: #1d4354;
  border-radius: 10px;
  padding: 0.7rem;
  position: relative;
}
#a1 {
  position: absolute;
  background: #06e80d;
  top: 0;
  left: 0;
  height: 100%;
  width: 15%;
  border-radius: 10px;
}
#a2 {
  position: absolute;
  background: #06e80d;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  border-radius: 10px;
}
#a3 {
  position: absolute;
  background: #06e80d;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  border-radius: 10px;
}
#a4 {
  position: absolute;
  background: #06e80d;
  top: 0;
  left: 0;
  height: 100%;
  width: 65%;
  border-radius: 10px;
}
#a5 {
  position: absolute;
  background: #06e80d;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  border-radius: 10px;
}
#a6 {
  position: absolute;
  background: #06e80d;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

#loading-table {
  border: none;
  border-spacing: 0.6rem;
  border-collapse: unset;
}

#loading-table tbody tr {
  background: white;
}

.delivery-details {
  border:  #ddd solid 1px;
  text-align: left;
   outline: #ddd solid 1px;
    outline-offset: -1px;
    border-right-color: white;
    border-top-color: white;
}

#details-status th
{
  background: #1d4354;
 /*background-image: linear-gradient(0deg,  #262626 0%, #737373 50%, #737373 100%);*/
  border-top-left-radius: 1.1rem;
border-top-right-radius: 1.1rem;
padding: 0.8rem;
color:white;

}
.confirmed-status td
{
 background: white;
}
#confirmed-details-table
{
  border: none;
   border-collapse: collpase;

}
#confirmed-details-table tr
{
  border:none;
}
.confirmed-status > td:first-child
{
   border:  #ddd solid 1px;
    outline: #ddd solid 1px;
    outline-offset: -1px;
    border-right-color: white;
    border-top-color: white;
}

#Shipment-details-table thead th

{
 background:#1d4354;
border-top-left-radius: 1.1rem;
border-top-right-radius: 1.1rem;
padding: 0.8rem;
color:white;
 
}
#Shipment-details-table
{
  border: none;
  border-collapse: collapse;
}

#Shipment-details-table tr
{
  border: none;
}
#Shipment-details-table tr td
{
  border: #ddd solid 1px;
  background: white;
  outline: #ddd solid 1px;
    outline-offset: -1px;
    border-right-color: white;
    border-top-color: white;
}


thead tr th#time
{
 border-top-right-radius: 0 ;
}
thead tr th#time-status
{
 border-top-left-radius:0 ;
}
#tracking_main
{
  padding: 0 10vw;
  margin-bottom:2rem;
}
.review_section {
  margin: 1rem;
  margin-bottom: 2rem;
}
.review_section{
  color: gray;
  font-size: 1rem;
}
.comment_section {
  margin-top: 1rem;
}
.btn.btn-secondary{
  background-color: #1d4354 !important;
  margin-left: 0;
}
.btn.btn-secondary:hover{
  background-color: #2f9e01 !important;
}



.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.mb-3.comments{
  margin-top: 1rem !important;
}
.rating_review {
  margin-top: 1rem;
  display: flex;
}
label.form-label.rating_text {
  margin-top: 12px;
}
#order_no, #comment_sec{
  display: none;
}
div#order_no {
  display: block;
  margin-bottom: 0rem !important;
  margin-top: 1rem;
}
button.btn.btn-secondary.next.waves-effect.waves-light {
  margin-top: 0;
  /* padding: 8px; */
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.track_bar {
  margin-top: 1rem;
}
textarea{
  resize: none;
  outline: none;
}
div#comment_sec {
  margin-bottom: 4rem;
}