/* body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
} */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.w3-white, .w3-hover-white:hover {
    color: #fdfdfd!important;
    background-color: #1d4354!important;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 5rem;
    padding: 5rem 0 !important;
}
main {
  margin: 0 3rem;
  margin-bottom: 5rem;
}
p,tbody {
  font-size: 1.2rem;
  color: #0C3C26;
  line-height: 1.6;
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", "Hoefler Text", Georgia, "Lucida Bright", Cambria, Times, "Times New Roman", serif;
}
h1, h2, h3, h4, h5, h6, thead {
  font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.1;
}
.extra{
  font-weight: 600;
  color: #0c3c26;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
